<html>
  <head>
    <style>
      body {
        background: <%= message.color %>;
        color: white;
      }
    </style>
  </head>
  <body>
    <div>
      <%= message.guesses %> guesses left!
    </div>
    <p>
      <%= message.message %>
    </p>
    <form>
      <input autofocus type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <div><%= message.cheat %></div>
  </body>
</html>
